name: CI

on:
  pull_request:
    types: [opened, synchronize]

permissions: read-all

concurrency:
  group: ${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  PR_ID: ${{ github.event.pull_request.number }}
  COMMIT_ID: ${{ github.event.pull_request.head.sha }}

jobs:
  clone:
    name: Clone-linux
    uses: ./.github/workflows/_Clone-linux.yml

  sot:
    name: PR-CI-SOT
    uses: ./.github/workflows/_SOT.yml
    needs: clone

  coverage:
    name: PR-CI-Coverage
    uses: ./.github/workflows/_Coverage.yml
    needs: clone

  # Py3:
  #   uses: ./.github/workflows/_Py3.yml
  #   needs: Clone
